html, body {
    height: 100%;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #112222;
    text-align: center;
    color: #006600;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    height: 80vh;
    justify-content: center;
    align-items: center;
    border-top: #000000 solid 1px;
    grid-gap: 20px;
}

footer {
    border-top: #000000 solid 1px;
    flex-shrink: 0;
    padding-bottom: 1%;
}

.thumbnail{
    width: 300px;
    height: 300px;
}

.showcase {
    display: flex;
    flex-direction: column;
    background-color: #506050;
    width: 20vw;
    padding: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    min-width: 300px;
    min-height: 300px;
}

h2 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 0.5em;
}

header {
    height: 10vh;
    text-align: center;
    margin-bottom: 1%;
}

footer {
    height: 10vh;
}

footer p {
    margin: 1% 0;
}

footer p:last-child {
    margin-bottom: 0;
}

footer a {
    border-radius: 5px;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    text-decoration: underline;
    margin: 1% 0 3.5% 0;
}

.typeable {
    background-color: #000000;
    border-style: solid;
    color:#006600;
}

.clickable {
    color: #000000;
    background-color: #506050;
    padding: 2px;
    transition: text-decoration 0s;
}

.clickable:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

em {
    font-style: italic;
}

input[type="text"] {
    border: 0;
    height: 7vh;
    width: 7vh;
    font-size: 5vh;
    text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    background: #506050;
    border-radius: 10px;
}

td {
    border: 2px #006600 solid;

}

table {
    height: fit-content;
    width: fit-content;
    border: 8px #006600 solid;
    margin: 1%;
}

td:nth-child(3n+0) {
    border-right: 8px #006600 solid;
}

td:first-child {
    border-left: 8px #006600 solid;
}

tr:nth-child(3n+0) {
    border-bottom: 8px #006600 solid;
}

tr:first-child {
    border-top: 8px #006600 solid;
}

.controlls {
    display: flex;
    flex-direction: column;
    height: 8vh;
    justify-content: space-around;
    width: 30vh;
    min-width: 100px;
    max-width: 150px;
}

button {
    border: none;
    border-radius: 5px;
}

.labelHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hardness {
    margin-top: auto;
}